.bottom {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
  }

  .footer_container{
    position: relative;
    bottom: 0;
    color: #324d67;
    background-color: #324d675f;
    text-align: center;
    
    padding: 30px 10px;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    justify-content: center;
  
  }

.icons{
    font-size: 30px;
    display: flex;
    gap: 10px;
  }