@import url("https://fonts.googleapis.com/css2?family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body,
main {
  font-family: "Old Standard TT", sans-serif;
  /* font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
  max-width: 100vw;
  min-height: 100vh;
  background-color: #eee;
}

.root_container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

a {
  color: inherit;
  text-decoration: none;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.product_section_title {
  font-weight: 700;
  color: #444;
  font-size: 34px;
  text-transform: uppercase;
  padding: 30px 0px;
  letter-spacing: 0.1em;
}

.product_section_title > hr {
  width: 30%;
  margin: 8px 0;
}
.product_section_category {
  display: flex;
  align-items: center;
  justify-content: center;
}
#category {
  width: 10vw;
}


.flex {
  display: flex;
  justify-content: space-between;
  color: #324d67;
}

.text-red-500 {
  color:#f02d34;
  font-weight: 500;
  text-align: start;
}

.banner-image {
  width: 60%;
  height: 25%;
  margin: 30px 0;
  align-self: center;
}

.line {
  height: 0.09em;
  align-self: center;
  background-color: #324d67;
  border-top: 1px solid #324d67;
  width: 50%;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
  .product_section_title > hr {
    width: 50%;
    margin: 10px 0;
  }
}

@media screen and (max-width: 800px) {
  .flex {
    display: block;
  }
  #category {
    width: 50vw;
  }
}