.card {
  background-color: #fff;
  width: 100%;
  max-width: 23%;
  max-height: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  margin: 10px;
  box-shadow: 0px 0px 5px 2px rgba(204, 204, 204, 1);
  transition: box-shadow, transform 0.5s ease;
  border-radius: 15px;
  cursor: pointer;
}

.card:hover{
  box-shadow: 0px 0px 5px 5px rgba(204, 204, 204, 1);
  transform: scale(0.95);
}
.card_title{
  font-size: 18px;
  font-weight:700;
  text-align: center;
  margin-top: 12px;
}
.card_image{
  display: flex;
  align-items: center;
  justify-content:center;
}
.card_description{
  text-align: center;
  margin: 12px 0;
  font-size: 14px;
}
.card_price{
  color: green;
  font-weight: normal;
  font-size:24px;
}
.card_price_rupee{
  font-weight: bold;
  font-size:16px;
}

.card_price_old {
  text-decoration: line-through;
  color: red;
  font-size: 14px;
}

.card_body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;
}

.buttons {
  display: flex;
  gap: 10px;
}

.buttons .add_to_cart {
  padding: 5px 10px;
  border: 1px solid #f02d34;
  margin-top: 20px;
  font-size: 14px;
  font-weight: 500;
  background-color: white;
  color: #f02d34;
  cursor: pointer;
  transform: scale(1, 1);
  transition: transform 0.5s ease;
}

.buttons .add_to_cart:hover {
  transform: scale(1.1, 1.1);
}
.buttons .buy_now {
  padding: 5px 10px;
  background-color: #f02d34;
  color: white;
  border: none;
  margin-top: 20px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  transform: scale(1, 1);
  transition: transform 0.5s ease;
}
.buttons .buy_now:hover {
  transform: scale(1.1, 1.1);
}


@media (max-width: 600px) {
  .card {
    min-width: 90%;
    margin-bottom: 10px;
  }
  .buttons {
    display: flex;
  }
}
@media (max-width: 1090px) {
  .card {
    max-width: 40%;
    margin-bottom: 10px;
  }
}
